src/flows/product_delivery.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <dynamicChoiceSets>
        <name>needdelivery</name>
        <dataType>Boolean</dataType>
        <displayField>NeedDelivery__c</displayField>
        <object>Product2</object>
        <valueField>NeedDelivery__c</valueField>
    </dynamicChoiceSets>
    <interviewLabel>product delivery {!$Flow.CurrentDateTime}</interviewLabel>
    <label>product delivery</label>
    <loops>
        <name>loop_through_Products</name>
        <label>loop through Products</label>
        <locationX>365</locationX>
        <locationY>122</locationY>
        <assignNextValueToReference>Product</assignNextValueToReference>
        <collectionReference>curProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>All_delivered</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Multiple_Products_For_Delivery</name>
        <label>Get Multiple Products For Delivery</label>
        <locationX>220</locationX>
        <locationY>39</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_through_Products</targetReference>
        </connector>
        <filters>
            <field>NeedDelivery__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>curProducts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>NeedDelivery__c</queriedFields>
        <queriedFields>Shop__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_product</name>
        <label>Update product</label>
        <locationX>448</locationX>
        <locationY>547</locationY>
        <connector>
            <targetReference>loop_through_Products</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Product.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NeedDelivery__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <screens>
        <name>All_delivered</name>
        <label>All delivered</label>
        <locationX>577</locationX>
        <locationY>231</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_product</targetReference>
        </connector>
        <fields>
            <name>Delivered</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;All products have been already delivered&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>need</name>
            <fieldText>&lt;p&gt;{!Product.Name}&lt;/p&gt;&lt;p&gt;{!Product.Shop__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>136</locationY>
        <connector>
            <targetReference>Get_Multiple_Products_For_Delivery</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>curProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
</Flow>
